#left-main {
  left: 191px;
}

@media (max-width: 575.98px) {
  #left-main {
  left: auto;
    } }

@media (max-width: 767.98px) {
 #left-main {
  left: auto;
    } }

@media (max-width: 991.98px) {
  #left-main {
  left: auto;
    } }

@media (max-width: 1000.98px) {
  #left-main {
  left: auto;
    } }

ul {
    list-style: none;
}

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}
ul.icons li {
    display: inline-block;
    padding: 0 1.5em 0 0;
}

#div_top_socials {
    display:inline;
}

#ul_top_socials li{
    display: inline;
}