#left {
  left: 300px;
}

ul {
    list-style: none;
}

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}
ul.icons li {
    display: inline-block;
    padding: 0 1.5em 0 0;
}

#div_top_socials {
    display:inline;
}

#ul_top_socials li{
    display: inline;
}